* {
  margin: 0;
  padding: 0;
}
.redtext{
  color: #F16D7F;
}

.container {
  margin: 0 auto;
}

.navigation{
  padding: 18px 239px 19px 231px;
  background: #222222;
  display: flex;
 justify-content: space-between;
}

.NavBar_lefticon1{
padding-right: 41px;
}
.NavBar_righticon1{
  padding-right: 25px;
}
.NavBar_righticon2{
  padding-right: 42px;
}



.header {
  display: flex;
  align-content: space-between;
  align-items: center;
  background: #F1E4E6;
  margin-bottom: 65px;
}

.header_text {
  Font-family: 'Lato';
  font-style: normal;
  padding-left: 16px;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.cardimgbox{

display: grid;
justify-content: center;
grid-template-columns: auto auto auto;
grid-template-rows: auto ;
grid-gap: 30px;
padding-bottom: 96px;
}
.card_box1{
  position: relative;
  
}
.card_boxHeader {
  left: 103px;
  right: 103px;
  top: 105px;
  bottom: 105px;
  color: #FFFFFF;
  position: absolute;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
 
}

.card_box2{
  position: relative;
}
.card_box3{
  position: relative;
}
.card_box4{
  grid-column-start: 5;
  grid-column-end: 1;
  position: relative;
}

.card_boxHeader4 {
left: 491.14px;
right: 489.14px;
top: 65px;
bottom: 65px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
position: absolute;
}

.card_header {
  text-align: center;
  padding-bottom: 48px;
}

.cards_header {
  padding-bottom: 6px;
}

.cards {
  
color: #5D5D5D;
  padding: 0 260px 48px 260px;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 30px; 
}



.header_card {
  color: #5D5D5D;
  padding-bottom: 12px;
  padding-top: 25px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.text_cards {
  align-content: center ;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
color: #5D5D5D;
}

.card_price{
  padding-top: 18px;
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #F16D7F;

}
.cards_button {
  border: 1px solid #FF6A6A;
  text-align:center;
  padding: 14.5px 38.5px ;
  font-family: 'Lato';
  
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #F26376;
  
  

}

.footer {
  /* padding-left: 230px; */
  background: #222224;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 103px;
  margin-top: 109px;
}

.imgFooter1 {
  padding-bottom: 28px;
}

/* .footer_cardHeader{
  padding-top: 28px;
} */

.footer_card1 {
  width: 300px;
  padding-right: 30px;
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;

}

.footer_card2 {
  width: 300px;
  padding-right: 30px;
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.footer_card3 {
  padding-right: 30px;
  width: 300px;
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.footer_card_text {
  padding: 16px 30px 0 0;
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  padding-bottom: 104px;

}

.footer_Contacts {
background-image : url(footerbg.png);
background-repeat: no-repeat;
background-size: 100%;
display: flex;
justify-content: center;
padding-bottom: 126px;
padding-top: 87px;
align-items: center;

}

.contacts1{
  text-align: center;
  padding-right: 150px;
}
.contacts2{
  text-align: center;
  padding-left: 350px;

}


.footer_ContactsText {
  font-family: 'Lato';
  
  align-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}


.footer_ContactsHeader {
  width: 557px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.emailtype {
  background: #E1E1E1;
  padding: 7px 64px 6px 22px;
  margin-top: 32px;
}

.buttonSub {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 7px 7px 6px 8px;
  background: #F16D7F;
}

.footerRights {
padding-top: 30px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: space-around;
  /*gap: 100px; */
  background: #222224;
  padding-left: 237px;
  padding-right: 237px;
}